/*--------------------------*/

.header-logo {
  padding: 20px 0 0 14px;
}

.header-logo .anim1 .itemLeft .line2 {
  position: absolute;
  width: 20px;
  height: 2px;
  top: 0;
  right: 0;
  margin: 0 0 0 0;
}
.header-logo .anim1 .itemLeft .line2 .line-color2 {
  background-color: #fff;
  height: 2px;
  width: 0;
  border-radius: 1px;
  -webkit-transition: width linear 0.5s;
  -ms-transition: width linear 0.5s;
  -moz-transition: width linear 0.5s;
  -o-transition: width linear 0.5s;
  transition: width linear 0.5s;
}
.header-logo .anim1 .itemLeft .latLine2 {
  width: 2px;
  height: 11px;
  position: absolute;
  right: 5.5px;
  bottom: 12px;
  -moz-transform: rotate(23deg);
  -o-transform: rotate(23deg);
  -ms-transform: rotate(23deg);
  -webkit-transform: rotate(23deg);
  transform: rotate(23deg);
}
.header-logo .anim1 .itemLeft .latLine2 .line-color2 {
  height: 0;
  border-radius: 1px;
  margin: 0 0 0;
  background-color: #fff;
  -webkit-transition: height linear 0.5s;
  -ms-transition: height linear 0.5s;
  -moz-transition: height linear 0.5s;
  -o-transition: heighth linear 0.5s;
  transition: height linear 0.5s;
}
.header-logo .anim1 .itemRight .line2 {
  position: absolute;
  width: 22px;
  height: 2px;
  top: 0;
  left: 0;
  margin: 0 0 0 0;
}
.header-logo .anim1 .itemRight .line2 .line-color2 {
  background-color: #fff;
  height: 2px;
  width: 0;
  border-radius: 1px;
  -webkit-transition: width linear 0.5s;
  -ms-transition: width linear 0.5s;
  -moz-transition: width linear 0.5s;
  -o-transition: width linear 0.5s;
  transition: width linear 0.5s;
}
.header-logo .anim1 .itemRight .latLine2 {
  width: 2px;
  height: 11.4px;
  position: absolute;
  left: 6px;
  bottom: 12px;
  -moz-transform: rotate(-23deg);
  -o-transform: rotate(-23deg);
  -ms-transform: rotate(-23deg);
  -webkit-transform: rotate(-23deg);
  transform: rotate(-23deg);
}
.header-logo .anim1 .itemRight .latLine2 .line-color2 {
  background-color: #fff;
  width: 2px;
  height: 0;
  border-radius: 1px;
  -webkit-transition: height linear 0.5s;
  -ms-transition: height linear 0.5s;
  -moz-transition: height linear 0.5s;
  -o-transition: heighth linear 0.5s;
  transition: height linear 0.5s;
}
.header-logo:hover .itemLeft .line2 .line-color2 {
  width: 22px;
}
.header-logo:hover .itemLeft .latLine2 .line-color2 {
  height: 10px;
}
.header-logo:hover .itemRight .line2 .line-color2 {
  width: 22px;
}
.header-logo:hover .itemRight .latLine2 .line-color2 {
  height: 10.5px;
}
.header-logo .anim1 .an1-s1 {
  /*-webkit-animation: an1-s1 10s linear infinite normal running 1s backwards;*/
  /* Safari 4+ */
  -webkit-animation-name: an1-s1;
    -webkit-animation-duration: 10s;
    -webkit-animation-timing-function: linear;
    -webkit-animation-delay: 1s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-direction: normal;
    -webkit-animation-fill-mode: initial;
    -webkit-animation-play-state: running;
  -moz-animation: an1-s1 10s linear infinite normal running 1s backwards;
  /* Fx 5+ */
  -o-animation: an1-s1 10s linear infinite normal running 1s backwards;
  /* Opera 12+ */
  -ms-animation: an1-s1 10s linear infinite normal running 1s backwards;
  animation: an1-s1 10s linear infinite normal running 1s backwards;
  /* IE 10+, Fx 29+ */
}
.header-logo .anim1 .an1-s2 {

  -webkit-animation-name: an1-s2;
    -webkit-animation-duration: 5s;
    -webkit-animation-timing-function: linear;
    -webkit-animation-delay: 2s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-direction: normal;
    -webkit-animation-fill-mode: initial;
    -webkit-animation-play-state: running;
  /* Safari 4+ */
  -moz-animation: an1-s2 5s linear infinite normal running 2s backwards;
  /* Fx 5+ */
  -o-animation: an1-s2 5s linear infinite normal running 2s backwards;
  /* Opera 12+ */
  -ms-animation: an1-s2 5s linear infinite normal running 2s backwards;
  animation: an1-s2 5s linear infinite normal running 2s backwards;
  /* IE 10+, Fx 29+ */
  opacity: 1;
}
.header-logo .anim1 .an1-s3 {

  -webkit-animation-name: an1-s2;
    -webkit-animation-duration: 5s;
    -webkit-animation-timing-function: linear;
    -webkit-animation-delay: 1s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-direction: normal;
    -webkit-animation-fill-mode: initial;
    -webkit-animation-play-state: running;
  /* Safari 4+ */
  -moz-animation: an1-s2 5s linear infinite normal running 1s backwards;
  -ms-animation: an1-s2 5s linear infinite normal running 1s backwards;
  /* Fx 5+ */
  -o-animation: an1-s2 5s linear infinite normal running 1s backwards;
  /* Opera 12+ */
  animation: an1-s2 5s linear infinite normal running 1s backwards;
  /* IE 10+, Fx 29+ */
  opacity: 1;
}
.header-logo .anim1 .an1-s4 {

  -webkit-animation-name: an1-s2;
    -webkit-animation-duration: 5s;
    -webkit-animation-timing-function: linear;
    -webkit-animation-delay: 5s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-direction: normal;
    -webkit-animation-fill-mode: initial;
    -webkit-animation-play-state: running;
  /* Safari 4+ */
  -moz-animation: an1-s2 5s linear infinite normal running 5s;
  -ms-animation: an1-s2 5s linear infinite normal running 5s;
  /* Fx 5+ */
  -o-animation: an1-s2 5s linear infinite normal running 5s;
  /* Opera 12+ */
  animation: an1-s2 5s linear infinite normal running 5s;
  /* IE 10+, Fx 29+ */
  opacity: 1;
}
.header-logo .anim1 .an1-s5 {

  -webkit-animation-name: an1-s2;
    -webkit-animation-duration: 5s;
    -webkit-animation-timing-function: linear;
    -webkit-animation-delay: 4s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-direction: normal;
    -webkit-animation-fill-mode: initial;
    -webkit-animation-play-state: running;
  /* Safari 4+ */
  -moz-animation: an1-s2 5s linear infinite normal running 4s;
  -ms-animation: an1-s2 5s linear infinite normal running 4s;
  /* Fx 5+ */
  -o-animation: an1-s2 5s linear infinite normal running 4s;
  /* Opera 12+ */
  animation: an1-s2 5s linear infinite normal running 4s;
  /* IE 10+, Fx 29+ */
  opacity: 1;
}
.header-logo .anim1 .an1-s6 {

  -webkit-animation-name: an1-s1;
    -webkit-animation-duration: 10s;
    -webkit-animation-timing-function: linear;
    -webkit-animation-delay: 2s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-direction: normal;
    -webkit-animation-fill-mode: initial;
    -webkit-animation-play-state: running;
  /* Safari 4+ */
  -moz-animation: an1-s1 10s linear infinite normal running 3s;
  -ms-animation: an1-s1 10s linear infinite normal running 3s;
  /* Fx 5+ */
  -o-animation: an1-s1 10s linear infinite normal running 3s;
  /* Opera 12+ */
  animation: an1-s1 10s linear infinite normal running 3s;
  /* IE 10+, Fx 29+ */
  opacity: 1;
}
.header-logo .anim1 .an1-s7 {

  -webkit-animation-name: an1-s2;
    -webkit-animation-duration: 5s;
    -webkit-animation-timing-function: linear;
    -webkit-animation-delay: 2s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-direction: normal;
    -webkit-animation-fill-mode: initial;
    -webkit-animation-play-state: running;
  /* Safari 4+ */
  -moz-animation: an1-s2 5s linear infinite normal running 2s;
  -ms-animation: an1-s2 5s linear infinite normal running 2s;
  /* Fx 5+ */
  -o-animation: an1-s2 5s linear infinite normal running 2s;
  /* Opera 12+ */
  animation: an1-s2 5s linear infinite normal running 2s;
  /* IE 10+, Fx 29+ */
  opacity: 1;
}
.header-logo .anim1 .an1-s8 {

  -webkit-animation-name: an1-s2;
    -webkit-animation-duration: 5s;
    -webkit-animation-timing-function: linear;
    -webkit-animation-delay: 3s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-direction: normal;
    -webkit-animation-fill-mode: initial;
    -webkit-animation-play-state: running;
  /* Safari 4+ */
  -moz-animation: an1-s2 5s linear infinite normal running 3s;
  -ms-animation: an1-s2 5s linear infinite normal running 3s;
  /* Fx 5+ */
  -o-animation: an1-s2 5s linear infinite normal running 3s;
  /* Opera 12+ */
  animation: an1-s2 5s linear infinite normal running 3s;
  /* IE 10+, Fx 29+ */
  opacity: 1;
}
.header-logo .anim1 .an1-s9 {

  -webkit-animation-name: an1-s2;
    -webkit-animation-duration: 5s;
    -webkit-animation-timing-function: linear;
    -webkit-animation-delay: 2s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-direction: normal;
    -webkit-animation-fill-mode: initial;
    -webkit-animation-play-state: running;
  /* Safari 4+ */
  -moz-animation: an1-s2 5s linear infinite normal running 3s;
  -ms-animation: an1-s2 5s linear infinite normal running 3s;
  /* Fx 5+ */
  -o-animation: an1-s2 5s linear infinite normal running 3s;
  /* Opera 12+ */
  animation: an1-s2 5s linear infinite normal running 3s;
  /* IE 10+, Fx 29+ */
  opacity: 1;
}
.header-logo .anim1 .an1-s10 {

  -webkit-animation-name: an1-s1;
    -webkit-animation-duration: 10s;
    -webkit-animation-timing-function: linear;
    -webkit-animation-delay: 3s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-direction: normal;
    -webkit-animation-fill-mode: initial;
    -webkit-animation-play-state: running;
  /* Safari 4+ */
  -moz-animation: an1-s1 10s linear infinite normal running 3s;
  -ms-animation: an1-s1 10s linear infinite normal running 3s;
  /* Fx 5+ */
  -o-animation: an1-s1 10s linear infinite normal running 3s;
  /* Opera 12+ */
  animation: an1-s1 10s linear infinite normal running 3s;
  /* IE 10+, Fx 29+ */
  opacity: 1;
}
.header-logo .anim1 .an1-s11 {

  -webkit-animation-name: an1-s1;
    -webkit-animation-duration: 10s;
    -webkit-animation-timing-function: linear;
    -webkit-animation-delay: 6s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-direction: normal;
    -webkit-animation-fill-mode: initial;
    -webkit-animation-play-state: running;
  /* Safari 4+ */
  -moz-animation: an1-s1 10s linear infinite normal running 6s;
  -ms-animation: an1-s1 10s linear infinite normal running 6s;
  /* Fx 5+ */
  -o-animation: an1-s1 10s linear infinite normal running 6s;
  /* Opera 12+ */
  animation: an1-s1 10s linear infinite normal running 6s;
  /* IE 10+, Fx 29+ */
  opacity: 1;
}
.header-logo .anim1 .an1-s12 {

  -webkit-animation-name: an1-s2;
    -webkit-animation-duration: 5s;
    -webkit-animation-timing-function: linear;
    -webkit-animation-delay: 0s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-direction: normal;
    -webkit-animation-fill-mode: initial;
    -webkit-animation-play-state: running;
  /* Safari 4+ */
  -moz-animation: an1-s2 5s linear infinite normal running 0s;
  -ms-animation: an1-s2 5s linear infinite normal running 0s;
  /* Fx 5+ */
  -o-animation: an1-s2 5s linear infinite normal running 0s;
  /* Opera 12+ */
  animation: an1-s2 5s linear infinite normal running 0s;
  /* IE 10+, Fx 29+ */
  opacity: 1;
}
.header-logo .anim1 .an1-s13 {

  -webkit-animation-name: an1-s2;
    -webkit-animation-duration: 5s;
    -webkit-animation-timing-function: linear;
    -webkit-animation-delay: 2s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-direction: normal;
    -webkit-animation-fill-mode: initial;
    -webkit-animation-play-state: running;
  /* Safari 4+ */
  -moz-animation: an1-s2 5s linear infinite normal running 2s;
  -ms-animation: an1-s2 5s linear infinite normal running 2s;
  /* Fx 5+ */
  -o-animation: an1-s2 5s linear infinite normal running 2s;
  /* Opera 12+ */
  animation: an1-s2 5s linear infinite normal running 2s;
  /* IE 10+, Fx 29+ */
  opacity: 1;
}
.header-logo .anim1 .an1-s15 {

  -webkit-animation-name: an1-s1;
    -webkit-animation-duration: 10s;
    -webkit-animation-timing-function: linear;
    -webkit-animation-delay: 0s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-direction: normal;
    -webkit-animation-fill-mode: initial;
    -webkit-animation-play-state: running;
  /* Safari 4+ */
  -moz-animation: an1-s1 10s ease-in-out infinite normal running 0s;
  -ms-animation: an1-s1 10s ease-in-out infinite normal running 0s;
  /* Fx 5+ */
  -o-animation: an1-s1 10s ease-in-out infinite normal running 0s;
  /* Opera 12+ */
  animation: an1-s1 10s ease-in-out infinite normal running 0s;
  /* IE 10+, Fx 29+ */
  opacity: 1;
}
.header-logo .anim1 .an1-s16 {

  -webkit-animation-name: an1-s2;
    -webkit-animation-duration: 5s;
    -webkit-animation-timing-function: linear;
    -webkit-animation-delay: 2.8s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-direction: normal;
    -webkit-animation-fill-mode: initial;
    -webkit-animation-play-state: running;
  /* Safari 4+ */
  -moz-animation: an1-s2 5s ease-in-out infinite normal running 2.8s;
  -ms-animation: an1-s2 5s ease-in-out infinite normal running 2.8s;
  /* Fx 5+ */
  -o-animation: an1-s2 5s ease-in-out infinite normal running 2.8s;
  /* Opera 12+ */
  animation: an1-s2 5s ease-in-out infinite normal running 2.8s;
  /* IE 10+, Fx 29+ */
  opacity: 1;
}
.header-logo .anim1 .an1-s16 {

  -webkit-animation-name: an1-s2;
    -webkit-animation-duration: 5s;
    -webkit-animation-timing-function: linear;
    -webkit-animation-delay: 3.2s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-direction: normal;
    -webkit-animation-fill-mode: initial;
    -webkit-animation-play-state: running;
  /* Safari 4+ */
  -moz-animation: an1-s2 5s ease-in-out infinite normal running 3.2s;
  -ms-animation: an1-s2 5s ease-in-out infinite normal running 3.2s;
  /* Fx 5+ */
  -o-animation: an1-s2 5s ease-in-out infinite normal running 3.2s;
  /* Opera 12+ */
  animation: an1-s2 5s ease-in-out infinite normal running 3.2s;
  /* IE 10+, Fx 29+ */
  opacity: 1;
}
.header-logo .anim1 .an1-s17 {

  -webkit-animation-name: an1-s1;
    -webkit-animation-duration: 10s;
    -webkit-animation-timing-function: linear;
    -webkit-animation-delay: 3.2s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-direction: normal;
    -webkit-animation-fill-mode: initial;
    -webkit-animation-play-state: running;
  /* Safari 4+ */
  -moz-animation: an1-s1 10s ease-in-out infinite normal running 3.2s;
  -ms-animation: an1-s1 10s ease-in-out infinite normal running 3.2s;
  /* Fx 5+ */
  -o-animation: an1-s1 10s ease-in-out infinite normal running 3.2s;
  /* Opera 12+ */
  animation: an1-s1 10s ease-in-out infinite normal running 3.2s;
  /* IE 10+, Fx 29+ */
  opacity: 1;
}
.header-logo .anim1 .an1-s18 {

  -webkit-animation-name: an1-s2;
    -webkit-animation-duration: 10s;
    -webkit-animation-timing-function: linear;
    -webkit-animation-delay: 3.4s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-direction: normal;
    -webkit-animation-fill-mode: initial;
    -webkit-animation-play-state: running;
  /* Safari 4+ */
  -moz-animation: an1-s1 10s ease-in-out infinite normal running 3.4s;
  -ms-animation: an1-s1 10s ease-in-out infinite normal running 3.4s;
  /* Fx 5+ */
  -o-animation: an1-s1 10s ease-in-out infinite normal running 3.4s;
  /* Opera 12+ */
  animation: an1-s1 10s ease-in-out infinite normal running 3.4s;
  /* IE 10+, Fx 29+ */
  opacity: 1;
}
.header-logo .anim1 .an1-s19 {

  -webkit-animation-name: an1-s1;
    -webkit-animation-duration: 10s;
    -webkit-animation-timing-function: linear;
    -webkit-animation-delay: -3.1s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-direction: normal;
    -webkit-animation-fill-mode: initial;
    -webkit-animation-play-state: running;
  /* Safari 4+ */
  -moz-animation: an1-s1 10s ease-in-out infinite normal running -3.1s;
  -ms-animation: an1-s1 10s ease-in-out infinite normal running -3.1s;
  /* Fx 5+ */
  -o-animation: an1-s1 10s ease-in-out infinite normal running -3.1s;
  /* Opera 12+ */
  animation: an1-s1 10s ease-in-out infinite normal running -3.1s;
  /* IE 10+, Fx 29+ */
  opacity: 1;
}
.header-logo .anim1 .an1-s20 {

  -webkit-animation-name: an1-s2;
    -webkit-animation-duration: 5s;
    -webkit-animation-timing-function: linear;
    -webkit-animation-delay: 2s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-direction: normal;
    -webkit-animation-fill-mode: initial;
    -webkit-animation-play-state: running;
  /* Safari 4+ */
  -moz-animation: an1-s2 5s ease-in-out infinite normal running 3s;
  -ms-animation: an1-s2 5s ease-in-out infinite normal running 3s;
  /* Fx 5+ */
  -o-animation: an1-s2 5s ease-in-out infinite normal running 3s;
  /* Opera 12+ */
  animation: an1-s2 5s ease-in-out infinite normal running 3s;
  /* IE 10+, Fx 29+ */
  opacity: 0;
}
.header-logo .anim1 .an1-s21 {

  /* Safari 4+ */
  -webkit-animation-name: an1-s2;
    -webkit-animation-duration: 5s;
    -webkit-animation-timing-function: linear;
    -webkit-animation-delay: 3.1s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-direction: normal;
    -webkit-animation-fill-mode: initial;
    -webkit-animation-play-state: running;
  -moz-animation: an1-s2 5s ease-in-out infinite normal running 3.1s;
  -ms-animation: an1-s2 5s ease-in-out infinite normal running 3.1s;
  /* Fx 5+ */
  -o-animation: an1-s2 5s ease-in-out infinite normal running 3.1s;
  /* Opera 12+ */
  animation: an1-s2 5s ease-in-out infinite normal running 3.1s;
  /* IE 10+, Fx 29+ */
  opacity: 0;
}
@-webkit-keyframes an1-s1 {
  0% {
    height: 100%;
  }
  20% {
    height: 100%;
  }
  25% {
    height: 0;
  }
  50% {
    height: 0;
  }
  55% {
    height: 100%;
  }
  100% {
    height: 100%;
  }
}
@-moz-keyframes an1-s1 {
  0% {
    height: 100%;
  }
  20% {
    height: 100%;
  }
  25% {
    height: 0;
  }
  50% {
    height: 0;
  }
  55% {
    height: 100%;
  }
  100% {
    height: 100%;
  }
}
@-o-keyframes an1-s1 {
  0% {
    height: 100%;
  }
  20% {
    height: 100%;
  }
  25% {
    height: 0;
  }
  50% {
    height: 0;
  }
  55% {
    height: 100%;
  }
  100% {
    height: 100%;
  }
}
@keyframes an1-s1 {
  0% {
    height: 100%;
  }
  20% {
    height: 100%;
  }
  25% {
    height: 0;
  }
  50% {
    height: 0;
  }
  55% {
    height: 100%;
  }
  100% {
    height: 100%;
  }
}
@-webkit-keyframes an1-s2 {
  0% {
    width: 100%;
  }
  20% {
    width: 100%;
  }
  25% {
    width: 0;
  }
  50% {
    width: 0;
  }
  55% {
    width: 100%;
  }
  100% {
    width: 100%;
  }
}
@-moz-keyframes an1-s2 {
  0% {
    width: 100%;
  }
  20% {
    width: 100%;
  }
  25% {
    width: 0;
  }
  50% {
    width: 0;
  }
  55% {
    width: 100%;
  }
  100% {
    width: 100%;
  }
}
@-o-keyframes an1-s2 {
  0% {
    width: 100%;
  }
  20% {
    width: 100%;
  }
  25% {
    width: 0;
  }
  50% {
    width: 0;
  }
  55% {
    width: 100%;
  }
  100% {
    width: 100%;
  }
}
@keyframes an1-s2 {
  0% {
    width: 100%;
  }
  20% {
    width: 100%;
  }
  25% {
    width: 0;
  }
  50% {
    width: 0;
  }
  55% {
    width: 100%;
  }
  100% {
    width: 100%;
  }
}
.header-logo .logoContainer {
  width: 134px;
  height: 52px;
  position: relative;
  margin: auto;
}
.header-logo .logoContainer .name {
  display: inline-block;
  float: left;
  margin:0 0 0 5px;
}
.header-logo .logoContainer .name img{
  width: auto;
  height: 50px;
  margin: 0;

}
.header-logo .logoContainer .grid {
  height: 52px;
  width: 52px;
  position: relative;
  cursor: pointer;
  display: inline-block;
  float: left;
}
.header-logo .logoContainer .grid .Group {
  position: absolute;
  width: 52px;
  height: 52px;
}
.header-logo .logoContainer .grid .Group.first {

}
.header-logo .logoContainer .grid .Group.second {

  -moz-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
}
.header-logo .logoContainer .grid .Group.first .itemRight .latLine {
  width: 2px;
  height: 11.4px;
  position: absolute;
  left: 44px;
  top: 12px;
}
.header-logo .logoContainer .grid .Group.second .itemRight .latLine .line-color {
  background-color: #fff;
  height: 100%;
  border-radius: 1px;
}
.header-logo .logoContainer .grid .Group.first .itemRight .latLine2 {
  width: 2px;
  height: 11.4px;
  position: absolute;
  left: 44px;
  top: 12px;
}
.header-logo .logoContainer .grid .Group.third {

  -moz-transform: rotate(45deg);
  /* IE 9 */
  -o-transform: rotate(45deg);
  /* Chrome, Safari, Opera */
  -ms-transform: rotate(45deg);
  /* IE 9 */
  -webkit-transform: rotate(45deg);
  /* Chrome, Safari, Opera */
  transform: rotate(45deg);
}
.header-logo .logoContainer .grid .Group.fourth {
  top: 0px;
  -moz-transform: rotate(90deg);
  /* IE 9 */
  -o-transform: rotate(90deg);
  /* Chrome, Safari, Opera */
  -ms-transform: rotate(90deg);
  /* IE 9 */
  -webkit-transform: rotate(90deg);
  /* Chrome, Safari, Opera */
  transform: rotate(90deg);
}
.header-logo .logoContainer .grid .Group .itemLeft {
  width: 26px;
    height: 26px;
    display: inline-block;
    background-color: rgba(0, 255, 222, 0);
    padding-top: 22px;
}
.header-logo .logoContainer .grid .Group .itemLeft .dot {
  width: 8px;
  height: 8px;
  border: 2px solid #fff;
  border-radius: 50%;
  float: left;
}
.header-logo .logoContainer .grid .Group .itemLeft .line {
  width: 19.5px;
  height: 2px;
  display: inline-block;
  vertical-align: middle;
  overflow: hidden;
  position: absolute;
  top: 25px;
  left: 7px;
}
.header-logo .logoContainer .grid .Group .itemLeft .line .line-color {
  background-color: #fff;
  height: 2px;
  width: 100%;
  border-radius: 1px;
}
.header-logo .logoContainer .grid .Group .itemLeft .latLine {
  width: 2px;
  height: 11px;
  position: absolute;
  right: 5.5px;
  bottom: 12px;
  -moz-transform: rotate(23deg);
  -o-transform: rotate(23deg);
  -ms-transform: rotate(23deg);
  -webkit-transform: rotate(23deg);
  transform: rotate(23deg);
}
.header-logo .logoContainer .grid .Group .itemLeft .latLine .line-color {
  background-color: #fff;
  height: 100%;
  border-radius: 1px;
}
.header-logo .logoContainer .grid .Group .itemRight {
  width: 26px;
  height: 26px;
  display: inline-block;
  float: right;
  padding-top: 22px;
  background-color: rgba(249, 255, 0, 0);
}
.header-logo .logoContainer .grid .Group .itemRight .dot {
  width: 8px;
  height: 8px;
  border: 2px solid #fff;
  border-radius: 50%;
  float: right;
}
.header-logo .logoContainer .grid .Group .itemRight .line {
  width: 20px;
  height: 2px;
  display: inline-block;
  vertical-align: middle;
  position: absolute;
  top: 25px;
  right: 7px;
}
.header-logo .logoContainer .grid .Group .itemRight .line .line-color {
  background-color: #fff;
  height: 2px;
  width: 100%;
  border-radius: 1px;
}
.header-logo .logoContainer .grid .Group .itemRight .latLine {
  width: 2px;
    height: 11.4px;
    position: absolute;
    left: 6px;
    bottom: 12px;
    -moz-transform: rotate(-23deg);
    -o-transform: rotate(-23deg);
    -ms-transform: rotate(-23deg);
    -webkit-transform: rotate(-23deg);
    transform: rotate(-23deg);
}
.header-logo .logoContainer .grid .Group .itemRight .latLine .line-color {
  background-color: #fff;
  height: 11.4px;
  border-radius: 1px;
}




/*-------------------*/
