body{
    font-family: "ff-basic-gothic-web-pro",sans-serif;
    font-style: normal;
    font-weight: 300;
    text-align: center;
    background-color: black;
    color: white;
}

h1{
    font-family: "pill-gothic-600mg",sans-serif;
    font-style: normal;
    font-weight: 700;
}

a{
    color: #f24542
}

.lister{
    list-style: none;
    width: 600px;
    text-align: center;
    margin: 10px auto;
}

.lister li{
    border: 1px solid white;
    padding: 20px 30px;
}
.video{
    display: inline-block;
    width: 100%;
}

.player{
    margin-top: 20px;
    background-color: red;
    padding: 10px 20px;
    color: white;
    font-size: 1.4em;

}

.player a {
    text-decoration: none;
    color: white;
    font-size: 1.4em;
}

.changer{
    margin-top: 20px;
    background-color: red;
    padding: 10px 20px;
    color: white;
    font-size: 1.4em;
    text-decoration: none;
    color: white;
    font-size: 1.4em;
}

.delete{
    float: left;
}
